/* Geral */
/*----------------------------------------*/
html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar */
/*----------------------------------------*/

.header--pattern {
  height: 74px;
}

.header__link-filipe--no-underline:hover {
  text-decoration: none;
}

.header__account-photo--pattern {
  width: 60px;
  height: 50px;
}

/* Sidebar */
/*----------------------------------------*/

.sidebar--pattern {
  height: 100%;
  float: left;
}

.sidebar__list-group {
  border: none;
}

/* main-page */
/*----------------------------------------*/

.main--pattern {
  height: 900px;
}

/* Statistic Cards */
/*----------------------------------------*/

.statistic-section__card--pattern {
  width: 30%;
}

.statistic-section__logo-html5--color-red {
  color: rgba(255, 0, 0, .8);
}

.statistic-section__logo-css3--color-blue {
  color: rgba(45, 76, 235, 1);
}

.statistic-section__logo-jss--color-yellow {
  color: rgb(194, 191, 11, 1);
}

/* Charts */
/*----------------------------------------*/

.charts-section__card--height {
  height: 320px;
}

#charts-section__sales-performance-chart--width {
  width: 65%;
}

#charts-section__top-categories-chart--width {
  width: 30%;
}

/* Table */
/*----------------------------------------*/

.table-client-section--pattern__tbody--pattern td {
  padding: .5em;
}

@media(max-width: 992px) {
  .table-client-section--pattern__tbody--pattern {
    font-size: .8rem;
  }

  .table-client-section--pattern__tbody--pattern button {
    display: none;
  }
}