/* Geral */
/*----------------------------------------*/
html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar */
/*----------------------------------------*/

a:hover {
  text-decoration: none;
}

.account-photo {
  width: 60px;
  height: 50px;
}

/* Sidebar */
/*----------------------------------------*/

.sidebar-toggle {
  height: 100vh;
}

#sidebar-wrapper {
  float: left;
}

.list-group-item {
  border: none;
}

@media (min-width: 769px) {
  .sidebar-toggle {
    width: 70px;
  }
}

/* main-page */
/*----------------------------------------*/

.full-body {
  height: 100vh;
}

/* Statistic Cards */
/*----------------------------------------*/

.statistic-cards-element {
  width: 30%;
}

.logo-html5 {
  color: rgba(255, 0, 0, .8);
}

.logo-css3 {
  color: rgba(70, 6, 248, .9);
}

.logo-js {
  color: rgb(194, 191, 11);
}

/* Charts */
/*----------------------------------------*/

.card-chart {
  height: 320px;
}

.chart-inline {
  width: 65%;
}

.chart-doughnut {
  width: 30%;
}